{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="text-center">Gerer les utilisateurs </h1>
    {{ include('/bodyStructures/forms/filtreUtilisateurRecherche.html.twig') }}
    <div class="container">

        <table id="tab-sorties" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>Photo</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in listUser %}
                <tr>
                    <td> <img src="{{ asset('assets/img/' ~ user.image ) }}" alt="{{ user.nom }}" class="img-responsive img-thumbnail zoom2" width="75" height="75"></td>
                    <td>{{ user.pseudo }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>
                        <button class="btn btn-danger supprimer " type="button" data-user="{{ user.id }}">Supprimer
                        </button>
                        {% if (user.actif) %}
                        <a href="{{ path('admin_user_ban',{'id' : user.id}) }} "><button class="btn btn-primary">Bannir</button></a>
                            {% else %}
                        <a href="{{ path('admin_user_unban',{'id' : user.id}) }} "><button class="btn btn-primary">Débannir</button></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex_ligne">

        {% if currentPage == 1 %}
            <button type="button" class="btn btn-secondary">Page Précédente</button>
        {% elseif currentPage > 1 %}
            <a href="{{ path('admin_user_show_all', {'page': currentPage-1}) }}"><button type="button" class="btn btn-secondary">Page Précédente</button></a>
        {% endif %}
        <div><b>{{ currentPage }}/{{ maxPage }}</b></div>
        {% if currentPage == maxPage %}
            <button type="button" class="btn btn-secondary">Page Suivante</button>
        {% elseif currentPage < maxPage %}
            <a href="{{ path('admin_user_show_all', {'page': currentPage+1}) }}"><button type="button" class="btn btn-secondary">Page Suivante</button></a>
        {% endif %}
    </div>
    <script>
        let elements = document.getElementsByClassName('supprimer')

        for (let element of elements) {
            element.addEventListener('click', function () {

                let result = window.confirm('Êtes-vous sur de vouloir supprimer cet utilisateur?')

                if (result) {
                    let url = "{{ path("admin_user_delete", {"id" : 0}) }}";
                    let id = element.dataset.user;
                    url = url.replace('/0', '/' + id);
                    window.location.href = url
                }
            })
        }
    </script>

{% endblock %}

{% block title %}

{% endblock %}

