{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} Connexion
{% endblock %}

{% block body %}
    <div class="petit-block">
        <form method="post" class="page_centrer">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}


            <h3 class="h3 mb-3 font-weight-normal">Connexion</h3>
            <label for="inputEmailOrUsername">Identifiant</label>
            <input type="text" value="{{ last_username }}" name="usernameOrEmail" id="inputEmailOrUsername"
                   class="form-control"
                   autocomplete="usernameOrEmail" required autofocus><br>
            <label for="inputPassword">Mot de Passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password"
                   required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>

            <a class="mb-3" href="{{ path('app_forgot_password_request') }}">Mot de Passe oublié</a>
            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>
        </form>
    </div>

{% endblock %}
  {% block styleCss %}
      <link rel="stylesheet" href="{{ asset('assets/css/connexion.css') }}">  {% endblock %}

