{% form_theme filtreForm 'view/formTheme/formTheme.html.twig' %}

<h1 class="text-center">Liste des sorties</h1>
<div class="flex_ligne">

    <div class="">
        <p><b>Date du jour : </b>{{ date('now')|date('d/m/y') }}</p>
        <p><b>Participant : </b>{{ app.user.pseudo }} </p>
        <p><img src="{{ asset('assets/img/' ~ app.user.image ) }}" alt="{{ app.user.nom }}" class="img-thumbnail zoom1"
                width="300" height="300"></p>
    </div>


    {{ form_start(filtreForm) }}


    <div class="form-control">
        <h5 class="text-center">Filtrer les sorties</h5>
        <div class="form-group">
            {{ form_row(filtreForm.campus) }}

            {{ form_row(filtreForm.recherche) }}

            <div class="form-group">
                <b>{{ form_label(filtreForm.entre) }}</b>
                &ensp;
                {{ form_widget(filtreForm.entre) }}
            </div>
            <div class="form-group"> &emsp;
                <b>{{ form_label(filtreForm.et) }}</b>
                &ensp;
                {{ form_widget(filtreForm.et) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_row(filtreForm.organisateur) }}

            {{ form_row(filtreForm.inscrit) }}

            {{ form_row(filtreForm.pasInscrit) }}

            {{ form_row(filtreForm.passe) }}

        </div>
        <div class="flex_ligne">
            <div class="form-group me-3">
                <button type="submit" class="btn btn-secondary">Rechercher</button>
            </div>
            <div class="form-group">
                <a href="{{ path('sortie_add') }}"><button type="button" class="btn btn-primary ">Créer une sortie</button></a>
            </div>
        </div>
    </div>
</div>

{{ form_end(filtreForm) }}