{% form_theme sortieForm 'view/formTheme/formTheme.html.twig' %}
{{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
<br>
<a href="{{ path("lieu_add") }}">
    <button class="btn btn-primary" type="button" name="Retour">Créer un lieu</button>
</a>
<div id="infos_lieu">
    <br>
    <p id="sortie_lieu_rue"><b>Rue : </b></p>
    <p id="sortie_lieu_cp"><b>Code postal :</b></p>
    <p id="sortie_lieu_latitude"><b>Latitude :</b></p>
    <p id="sortie_lieu_longitude"><b>Longitude :</b></p>
</div>
<button type="submit" name="submit" value="1" class="btn btn-primary">Enregistrer</button>
<button type="submit" name="submit" value="2" class="btn btn-primary">Publier la sortie</button>
{% if(sortie.id) %}
    <a href="{{ path('sortie_delete', {'id': sortie.id}) }}"><button type="button" class="btn btn-danger">Supprimer la sortie</button></a>
{% endif %}
<a href="{{ path("main_home") }}"><button type="button" class="btn btn-secondary">Annuler</button></a>

{{ form_end(sortieForm) }}