{% form_theme userForm 'view/formTheme/formTheme.html.twig' %}

<div class="form-container">

        <h1 class="text-center mb-5">Mon profil </h1>

        <div class="photo-profil zoom1">
            <img src="{{ asset('assets/img/' ~ user.image ) }}" alt="{{ user.nom }}" class="img-responsive img-thumbnail" width="200" height="200">
        </div>

    {{ form_start(userForm) }}


        <div class="form-group mt-5 ">
            {{ form_row(userForm.pseudo) }}
        </div>
        <div class="form-group">
            {{ form_row(userForm.prenom) }}
        </div>
        <div class="form-group">
            {{ form_row(userForm.nom) }}
        </div>
        <div class="form-group">
            {{ form_row(userForm.telephone) }}
        </div>
        <div class="form-group">
            {{ form_row(userForm.email) }}
        </div>
        <div class="form-group">
            <b>{{ form_label(userForm.plainPassword.first, 'Nouveau mot de passe') }}</b>
            {{ form_widget(userForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <b>{{ form_label(userForm.plainPassword.second, 'Confirmation de mot de passe') }}</b>
            {{ form_widget(userForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(userForm.campus) }}
        </div>
        <div class="form-group">
            {{ form_row(userForm.image) }}
        </div>
        <div class="form-group text-center">
            <div class="col-sm-offset-3">
                <button type="submit" class="btn btn-primary mr-15">Enregistrer</button>
                <a href="{{ path("main_home") }}">
                    <button type="button" class="btn btn-secondary">Annuler</button>
                </a>
            </div>
        </div>
        {{ form_end(userForm) }}

</div>

