{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Inscription d'un utilisateur{% endblock %}

{% block body %}
    <div class="mx-auto" style="width: 600px;">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

        {{ form_start(registrationForm) }}
        <h1 class="text-center">Inscription d'un utilisateur</h1>
        <div class="form-group" style="margin-bottom: 15px;">
            {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez un email'}}) }}
            {{ form_errors(registrationForm.email) }}
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            {{ form_label(registrationForm.pseudo, 'Pseudo', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'form-control', 'placeholder': 'Entrez un pseudo'}}) }}
            {{ form_errors(registrationForm.pseudo) }}
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            {{ form_label(registrationForm.prenom, 'Prénom', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez un prénom'}}) }}
            {{ form_errors(registrationForm.prenom) }}
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            {{ form_label(registrationForm.nom, 'Nom', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez un nom'}}) }}
            {{ form_errors(registrationForm.nom) }}
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            {{ form_label(registrationForm.telephone, 'Téléphone', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(registrationForm.telephone, {'attr': {'class': 'form-control', 'placeholder': 'Entrez un numéro de téléphone'}}) }}
            {{ form_errors(registrationForm.telephone) }}
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            {{ form_label(registrationForm.plainPassword.first, 'Definir un mot de passe', {'label_attr': {'class': 'col-sm-5'}}) }}
            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.plainPassword.first) }}
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            {{ form_label(registrationForm.plainPassword.second, 'Confirmation de mot de passe', {'label_attr': {'class': 'col-sm-5'}}) }}
            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.plainPassword.second) }}
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            {{ form_label(registrationForm.campus, 'Campus', {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(registrationForm.campus, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.campus) }}
        </div>
        <div class="form-group" style="margin-bottom: 40px;">
            {{ form_label(registrationForm.roles, "Role de l'utilisateur", {'label_attr': {'class': 'col-sm-3'}}) }}
            {{ form_widget(registrationForm.roles, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.roles) }}
        </div>

        <div class="form-group text-center">
            <div class="col-sm-offset-3">
                <button type="submit" class="btn btn-primary mr-15">Enregistrer</button>
                <a href="{{ path("main_home") }}">
                    <button type="button" class="btn btn-secondary">Annuler</button>
                </a>
            </div>
        </div>

            {{ form_end(registrationForm) }}
    </div>
{% endblock %}