{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} Réinitialiser Mot de Passe
{% endblock %}


{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialiser le Mot de Passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer le mail</button>
    {{ form_end(requestForm) }}
{% endblock %}
