{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} Réinitialiser Mot de Passe
{% endblock %}

{% block body %}
    <h1>Réinitialiser le Mot de Passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialiser</button>
    {{ form_end(resetForm) }}
{% endblock %}
