{% extends 'base.html.twig' %}
{% form_theme campusForm 'view/formTheme/formTheme.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} Add Campus
{% endblock %}

{% block body %}
    <h3 class="text-center"> Gérer les Campus</h3>

    {% include('bodyStructures/forms/filtreCampusVille.html.twig') %}
    <div class="d-flex flex-row justify-content-center">
        <table>
            <tr>
                <th>Campus</th>
                <th>Action</th>
            </tr>
            {% for campus in listeCampus %}
                <tr>
                    <td>{{ campus.nom }}</td>
                    <td>
                        <button class="btn btn-danger supprimer" data-campus="{{ campus.id }}">Supprimer</button>
                        <a href="{{ path('admin_campus_update',{'id' : campus.id}) }} ">
                            <button type="button" class="btn btn-primary"> Modifier</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>

                {{ form_start(campusForm) }}

                <td> {{ form_row(campusForm.nom) }}</td>
                <td>
                    <button type="submit" class="btn btn-primary mr-15">Enregistrer</button>
                </td>
                {{ form_end(campusForm) }}
            </tr>

        </table>
    </div>
    <script>
        let elements = document.getElementsByClassName('supprimer')

        for (let element of elements) {
            element.addEventListener('click', function () {

                let result = window.confirm('Êtes-vous sur de vouloir supprimer ce campus ?')

                if (result) {
                    let url = "{{ path("admin_campus_delete", {"id" : 0}) }}";
                    let id = element.dataset.campus;
                    url = url.replace('/0', '/' + id);
                    window.location.href = url
                }
            })
        }
    </script>
{% endblock %}

