{% extends 'base.html.twig' %}
{% form_theme campusForm 'view/formTheme/formTheme.html.twig' %}

{% block title %}
    {{ parent() }} | Campus
{% endblock %}

{% block body %}
    <h3 class="text-center"> Gérer les Campus</h3>
    <div class="d-flex flex-column align-items-center ">

        {% include('bodyStructures/forms/filtreCampusVille.html.twig') %}

        <table>
            <tr>
                <th>Campus</th>
                <th>Action</th>
            </tr>
            {% for campus in listeCampus %}
            <tr>
                <td>{{ campus.nom }}</td>
                <td><a href="{{ path('admin_campus_delete',{'id' : campus.id}) }} ">
                        <button type="button" class="btn btn-danger"> Supprimer</button>
                    </a>
                    <a href="{{ path('admin_campus_update',{'id' : campus.id}) }} ">
                        <button type="button" class="btn btn-primary"> Modifier</button>
                    </a></td>

                {% endfor %}
            <tr>

                {{ form_start(campusForm) }}

                <td> {{ form_row(campusForm.nom) }}</td>
                <td>
                    <button type="submit" class="btn btn-primary mr-15">Enregistrer</button>
                </td>
                {{ form_end(campusForm) }}
            </tr>

        </table>
    </div>

{% endblock %}

