{% extends 'base.html.twig' %}
{% form_theme campusForm 'view/formTheme/formTheme.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} Add Campus
{% endblock %}

{% block body %}
    <div class="form-container">
        <h1 class="text-center">Gérer les Campus</h1>
        {% include('bodyStructures/forms/filtreCampusVille.html.twig') %}
        <div class="container">
            <table id="tab-sorties" class="table table-striped">
                <tr>
                    {{ form_start(campusForm) }}

                    <td> {{ form_row(campusForm.nom) }}</td>
                    <td>
                        <button type="submit" class="btn btn-primary mt-4 mr-15">Enregistrer</button>
                    </td>
                    {{ form_end(campusForm) }}

                </tr>
                <thead>
                <tr>
                    <th>Campus</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for campus in listeCampus %}
                    <tr>
                        <td>{{ campus.nom }}</td>
                        <td>
                            <button class="btn btn-danger supprimer" data-campus="{{ campus.id }}">Supprimer</button>
                            <a href="{{ path('admin_campus_update',{'id' : campus.id}) }} ">
                                <button type="button" class="btn btn-primary"> Modifier</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex_ligne">

        {% if currentPage == 1 %}
            <button type="button" class="btn btn-secondary">Page Précédente</button>
        {% elseif currentPage > 1 %}
            <a href="{{ path('admin_user_show_all', {'page': currentPage-1}) }}"><button type="button" class="btn btn-secondary">Page Précédente</button></a>
        {% endif %}
        <div><b>{{ currentPage }}/{{ maxPage }}</b></div>
        {% if currentPage == maxPage %}
            <button type="button" class="btn btn-secondary">Page Suivante</button>
        {% elseif currentPage < maxPage %}
            <a href="{{ path('admin_user_show_all', {'page': currentPage+1}) }}"><button type="button" class="btn btn-secondary">Page Suivante</button></a>
        {% endif %}
    </div>
    <script>
        let elements = document.getElementsByClassName('supprimer')

        for (let element of elements) {
            element.addEventListener('click', function () {

                let result = window.confirm('Êtes-vous sur de vouloir supprimer ce campus ?')

                if (result) {
                    let url = "{{ path("admin_campus_delete", {"id" : 0}) }}";
                    let id = element.dataset.campus;
                    url = url.replace('/0', '/' + id);
                    window.location.href = url
                }
            })
        }
    </script>
{% endblock %}

