{% extends 'base.html.twig' %}

{% block body %}
    <h3> Gérer les villes</h3>
{% include('bodyStructures/forms/filtreCampusVille.html.twig') %}

    <table>
        <tr>
            <th>Ville</th>
            <th>Code Postal</th>
            <th>Action</th>
        </tr>
        {%for ville in tableauVille %}
        <tr>
            <td>{{ ville.nom }}</td>
            <td>{{ ville.codePostal }}</td>
            <td><a href="{{ path('admin_ville_delete',{'id' : ville.id})}} "><button class="btn btn-danger">Supprimer</button></a>
                <a href="{{ path('admin_ville_update',{'id' : ville.id})}} "><button class="btn btn-primary">Modifier</button></a></td>
        </tr>
        {% endfor %}
        <tr>
            {{ form_start(villeForm) }}

            <td> {{ form_row(villeForm.nom) }}</td>
            <td>{{ form_row(villeForm.codePostal) }}</td>
            <td> <button type="submit" class="btn btn-primary" > Enregistrer</button></td>
            {{ form_end(villeForm) }}
        </tr>

    </table>

{% endblock %}

{% block title %}

{% endblock %}

