{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} Inscription d'un utilisateur
{% endblock %}

{% block body %}
    {% include('bodyStructures/forms/registrationForm.html.twig') %}
    {{ form_start(formAjoutFile) }}
    {{ form_row(formAjoutFile) }}
    <button>valider</button>
    {{ form_end(formAjoutFile) }}
{% endblock %}