{% extends 'base.html.twig' %}


{% block body %}

    {{ include('/bodyStructures/forms/filtreUtilisateurRecherche.html.twig') }}
    <div class="d-flex justify-content-center">

        <table>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Action </th>
            </tr>
            {%for user in listUser %}
                <tr>
                    <td>{{ user.pseudo }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td><button class="btn btn-danger supprimer " type="button" data-user="{{ user.id }}">Supprimer</button></td>
{#                        <a href="{{ path('admin_ville_update',{'id' : ville.id})}} "><button class="btn btn-primary">Modifier</button></a></td>#}
                </tr>
            {% endfor %}


        </table>
        <script>
            let elements = document.getElementsByClassName('supprimer')

            for (let element of elements) {
                element.addEventListener('click', function () {

                    let result = window.confirm('Êtes-vous sur de vouloir supprimer cet utilisateur?')

                    if (result) {
                        let url = "{{ path("admin_user_delete", {"id" : 0}) }}";
                        let id = element.dataset.user;
                        url = url.replace('/0', '/' + id);
                        window.location.href = url
                    }
                })
            }
        </script>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

