{% block css %}<link rel="stylesheet" href="{{ asset('assets/css/filtreformulaire.css') }}"> {% endblock %}

{% extends 'base.html.twig' %}

{% block body %}
    <p> Date du jour {{ date('now')|date('d/m/y') }}</p>
    <p>Participant : </p>
    <h3>Filtrer les sortie</h3>

    {{ form_start(form) }}
    <div class="flex_ligne">
        <div class="flex_colone">
            {{ form_errors(form.campus) }}
            {{ form_label(form.campus) }}
            {{ form_widget(form.campus) }}

            {{ form_errors(form.recherche) }}
            {{ form_label(form.recherche) }}
            {{ form_widget(form.recherche) }}

            <div>
            {{ form_errors(form.entre) }}
            {{ form_label(form.entre) }}
            {{ form_widget(form.entre) }}

            {{ form_errors(form.et) }}
            {{ form_label(form.et) }}
            {{ form_widget(form.et) }}
            </div>
        </div>
        <div class="flex_colone">
            {{ form_errors(form.critere) }}
            {{ form_label(form.critere) }}
            {{ form_widget(form.critere) }}
        </div>
        <div>
            <button>valider</button>
        </div>
    </div>
    {{ form_end(form) }}
<div class="centre_tableau">
    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clotûre</th>
            <th>Inscrit/place</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Action</th>
        </tr>

        {% for sort in sorties %}
            <tr>
                <td> {{ sort.nom }}</td>
                <td>{{ sort.dateHeureDebut| date('d/m/y H:i') }}</td>
                <td> {{ sort.dateLimiteInscription | date ('d/m/y') }}</td>
                <td> /{{ sort.nbInsriptionsMax }}</td>
                <td> {{ sort.etat.libelle }}</td>
                <td> a remplir</td>
                <td> {{ sort.organisateur.pseudo}}</td>


            </tr>
        {% endfor %}

    </table>
</div>
    <button><a href="{{ path('sortie_add') }}" >Crée une sortie</a></button>

{% endblock %}

{% block title %}

{% endblock %}

