{% extends 'base.html.twig' %}

{% block body %}
    <p> Date du jour {{ date('now')|date('d/m/y') }}</p>
    <p>Participant : </p>
    <h3>Filtrer les sortie</h3>
    {{form_start(form) }}
    {{ form_errors(form.Campus) }}
    {{form_label(form.Campus) }}
    {{form_widget(form.Campus) }}

    {{ form_errors(form.recherche) }}
    {{form_label(form.recherche) }}
    {{form_widget(form.recherche) }}

    {{ form_errors(form.recherche) }}
    {{form_label(form.recherche) }}
    {{form_widget(form.recherche) }}

    {{ form_errors(form.entre) }}
    {{form_label(form.entre) }}
    {{form_widget(form.entre) }}


    <button>valider</button>
    {{form_end(form) }}

    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clotûre</th>
            <th>Inscrit/place</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Action</th>
        </tr>

        {% for sort in sorties %}
            <tr>
                <td> {{ sort.nom }}</td>
                <td>{{ sort.dateHeureDebut| date('d/m/y H:i') }}</td>
                <td> {{ sort.dateLimiteInscription | date ('d/m/y') }}</td>
                <td> /{{ sort.nbInsriptionsMax }}</td>
                <td> {{ sort.libelle}}</td>
{#                <td> {{ sort.user.pseudo}}</td>#}


            </tr>
        {% endfor %}

    </table>

{% endblock %}

{% block title %}

{% endblock %}

