{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} List
{% endblock %}

{% block body %}

    {% include('bodyStructures/forms/filtreForm.html.twig') %}
    <div class="centre_tableau">
        <table class="">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clotûre</th>
                <th>Inscrit/place</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Action</th>
            </tr>

            {% for sort in sorties %}
                <tr>
                    <td class=""> {{ sort.nom }}</td>
                    <td> {{ sort.dateHeureDebut| date('d/m/Y H:i') }}</td>
                    <td> {{ sort.dateLimiteInscription | date ('d/m/Y') }}</td>
                    <td> {{ sort.participants.count() }}/{{ sort.nbInsriptionsMax }}</td>
                    <td> {{ sort.etat.libelle }}</td>
                    <td>
                        {% if(sort.participants.contains(app.user)) %}
                            X
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ path('user_show', {'id': sort.organisateur.id}) }}">{{ sort.organisateur.pseudo }}</a>
                    </td>

                    <td>
                        {% if(is_granted('sortie_display',sort)) %}
                            <a href="{{ path('sortie_show_one', {'id': sort.id}) }}"><button type="button" class="btn btn-secondary">Afficher</button></a>
                        {% endif %}

                        {% if(is_granted('sortie_update',sort)) %}
                            <a href="{{ path('sortie_update', {'id': sort.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                            <a href="{{ path('sortie_publish', {'id': sort.id}) }}"><button type="button" class="btn btn-success">Publier</button></a>
                        {% endif %}

                        {% if(is_granted('sortie_cancel',sort)) %}
                            <a href="{{ path('sortie_cancel', {'id': sort.id}) }}"><button type="button" class="btn btn-warning">Annuler</button></a>
                        {% endif %}

                        {% if(is_granted('sortie_subscribe',sort)) %}
                            <a href="{{ path('sortie_subscribe', {'id': sort.id}) }}"><button type="button" class="btn btn-primary">S'inscrire</button></a>
                        {% endif %}

                        {% if(is_granted('sortie_unsubscribe',sort)) %}
                            <a href="{{ path('sortie_unsubscride', {'id': sort.id}) }}"><button type="button" class="btn btn-danger">Se désister</button></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="inline">
        {% if currentPage > 1 %}
            <a href="{{ path('sortie_show_all', {'page': currentPage-1}) }}">
                <button type="button" class="btn btn-secondary">Page Précédente</button>
            </a>
        {% endif %}
        <div><b>{{ currentPage }}/{{ maxPage }}</b></div>
        {% if currentPage < maxPage %}
            <a href="{{ path('sortie_show_all', {'page': currentPage+1}) }}">
                <button type="button" class="btn btn-secondary">Page Suivante</button>
            </a>
        {% endif %}
    </div>
{% endblock %}

