{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} | {{ user.pseudo }}
{% endblock %}

{% block body %}
    <div class="centrer_page_largeur">
        <div>

    <h1>{{ user.pseudo }}</h1>
    <div class="">
        <img src="{{ asset('assets/img/' ~ user.image ) }}" alt="{{ user.nom }}">
    </div>
    <div>
        <label for="prenom">Prénom : {{ user.prenom }}</label>
    </div>
    <div>
        <label for="nom">Nom : {{ user.nom }}</label>
    </div>
    <div>
        <label for="telephone">Téléphone : {{ user.telephone }}</label>
    </div>
    <div>
        <label for="email">Email : {{ user.email }}</label>
    </div>
    <div>
        <label for="campus">Campus : {{ user.campus.nom }}</label>
    </div>

            <div class="btn_centrer">
                <a href="{{ path("main_home") }}">
                    <button class="btn btn-secondary  " type="button" name="Retour">Retour</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}