{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} | {{ user.pseudo }}
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center">Profil de {{ user.pseudo }}</h1>
        <div class="text-center">
            <img src="{{ asset('assets/img/' ~ user.image ) }}" alt="{{ user.nom }}" class="img-responsive img-thumbnail" width="200" height="200">
        </div>

        <div class="user-info mx-auto text-center bg-light" style="width: 600px;">
            <div class="mt-3">
                <label for="prenom"><b>Prénom : </b>{{ user.prenom }}</label>
            </div>
            <div class="mt-3">
                <label for="nom"><b>Nom : </b>{{ user.nom }}</label>
            </div>
            <div class="mt-3">
                <label for="telephone"><b>Téléphone : </b>{{ user.telephone }}</label>
            </div>
            <div class="mt-3">
                <label for="email"><b>Email : </b>{{ user.email }}</label>
            </div>
            <div class="mt-3 mb-3">
                <label for="campus"><b>Campus : </b>{{ user.campus.nom }}</label>
            </div>
        </div>

    </div>
    <div class="mt-5 text-center">
        <a  href="{{ path("main_home") }}">
            <button class="btn btn-secondary " type="button" name="Retour">Retour</button>
        </a>
    </div>

{% endblock %}