{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Modifier mon profil {% endblock %}



{% block body %}

    <h1>Modifier mon profil </h1>

    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button type="submit" class="btn">Enregistrer</button>
    <a href="{{ path("main_home") }}"><button class="btn btn-info " type="button" name="Retour">Annuler</button></a>
    {{ form_end(userForm) }}

{% endblock %}



